body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cake-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 300px;
  text-align: center;
  background-color: #f9f9f9;
}

.cake-item img {
  width: 100%;
  height: 300px;
}

button.active {
  background-color: #f0a500;
  color: white;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e64a19;
}
